<div class="row" id="start-routine">
    <div class="large-8 small-12 small-centered columns routine">
      <h1><%= @routine.name %></h1>
      <div class="sets"></div>
      <div class="reps"></div>
      <a href="#" style="display:block;">Start</a>
    </div>

</div>
