<div class="row" id="start-routine">
    <div class="large-8 small-12 small-centered columns routine">
      <h1><%= @routine.name %></h1>
      <div class="routine-img"></div>
      <a href="#">Start</a>
    </div>

</div>
