<div class="row" id="exercises">
  <div class="large-16 columns">
    <div class="large-4 small-8 columns">
      <div class="exercise">
        <section class="top"></section>
        <h2>Dumbell Straight Lifts</h2>
      </div>
    </div>
    <div class="large-4 small-8 columns">
      <div class="exercise">
        <section class="top"></section>
        <h2>Full Length Rows</h2>
      </div>
    </div>
    <div class="large-4 small-8 columns">
      <div class="exercise">
        <section class="top"></section>
        <h2>Dumbell Straight Lifts</h2>
      </div>
    </div>
    <div class="large-4 small-8 columns">
      <div class="exercise">
        <section class="top"></section>
        <h2>Full Length Rows</h2>
      </div>
    </div>
  </div>
</div>