<div id="home">
  <div class="row">
    <div class="large-3 column">
      <ul class="side-nav">
        <li class="active dashboard"><i class="dashboard"></i><a href="#">Dashboard</a></li>
        <li class="activity"><i></i><a href="#">Activity</a></li>
        <li class="settings"><i></i><a href="#">Settings</a></li>
        <li class="divider"></li>
        <li class="routine"><i></i><a href="#">Mountain</a></li>
        <li class="routine"><i></i><a href="#">Climbing</a></li>
        <li class="routine"><i></i><a href="#">Energy</a></li>
        <li class="routine"><i></i><a href="#">Cardio</a></li>
        <li class="routine"><i></i><a href="#">Strength</a></li>
        <li class="add-new"><i></i><a href="#">Add New</a></li>
      </ul>
    </div>
    <div class="large-13 column">
      <div class="row top">
        <div class="large 16 column menu">
          <h1>Strength</h1>
          <a href="#" class="start">Start</a>
          <a href="#" class="add">Add</a>
        </div>
      </div>
      <% 5.times do %>
        <div class="row exercise">Exercise</div>
      <% end %>
    </div>
  </div>
</div>
