<div id="home">
  <div class="row">
    <div class="large-3 column">
      <ul class="side-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Activity</a></li>
        <li><a href="#">Settings</a></li>
        <li class="divider"></li>
        <li><a href="#">Mountain</a></li>
        <li><a href="#">Climbing</a></li>
        <li><a href="#">Energy</a></li>
        <li><a href="#">Cardio</a></li>
        <li><a href="#">Strength</a></li>
        <li><a href="#">Add New</a></li>
      </ul>
    </div>
    <div class="large-9 column">
      <div class="row">
        <header>Options Here</header>
      </div>
      <% 5.times do %>
        <div class="row exercise">Exercise</div>
      <% end %>
    </div>
  </div>
</div>
