<div id="home">
  <div class="row">
    <div class="large-3 column" id="side-region">
      <ul class="side-nav">
        <li class="active dashboard"><i class="dashboard"></i><a href="#">Dashboard</a></li>
        <li class="activity"><i></i><a href="#">Activity</a></li>
        <li class="settings"><i></i><a href="#">Settings</a></li>
        <li class="divider"></li>
        <% @routines.each do |r| %>
          <li class="routine" data-id="<%= r.id %>"><i></i><a href="#"><%= r.name %></a></li>
        <% end %>
        <li class="add-new"><i></i><a href="#">Add New</a></li>
      </ul>
    </div>
    <div class="large-13 column" id="exercise-list">
      <%= render 'exercise_list' %>
    </div>
  </div>
</div>
