<div class="row" id="workouts">
  <div class="large-16 columns">
    <div class="large-8 columns">
      <div class="workout"></div>
    </div>
    <div class="large-8 columns">
      <div class="workout"></div>
    </div>
   <div class="large-8 columns">
      <div class="workout"></div>
    </div>
    <div class="large-8 columns">
      <div class="workout"></div>
    </div>
  </div>
</div>
