<div class="row" id="workouts">
  <div class="large-16 columns">
    <% @workouts.each do |workout| %>
      <div class="large-8 columns">
        <div class="workout"><%=workout.name%></div>
      </div>
    <% end %>
  </div>
</div>
