<div id="home">
  <div class="row">
    <div class="large-3 column" id="side-region">
      <ul class="side-nav">
        <li class="active dashboard"><i class="dashboard"></i><a href="#">Dashboard</a></li>
        <li class="activity"><i></i><a href="#">Activity</a></li>
        <li class="settings"><i></i><a href="#">Settings</a></li>
        <li class="divider"></li>
        <li class="routine"><i></i><a href="#">Mountain</a></li>
        <li class="routine"><i></i><a href="#">Climbing</a></li>
        <li class="routine"><i></i><a href="#">Energy</a></li>
        <li class="routine"><i></i><a href="#">Cardio</a></li>
        <li class="routine"><i></i><a href="#">Strength</a></li>
        <li class="add-new"><i></i><a href="#">Add New</a></li>
      </ul>
    </div>
    <div class="large-13 column">
      <div class="row top" id="header-region">
        <div class="large 16 column menu">
          <h1>Strength</h1>
          <ul class="group">
            <li><a href="#" class="day">Day</a></li>
            <li><a href="#" class="add">Add</a></li>
            <li><a href="#" class="start">Start</a></li>
          </ul>
        </div>
      </div>
      <div id="exercise-region">
        {{! <% 5.times do %> }}
          <div class="row exercise">
            <div class="cover-image"></div>
            <div class="reps"><span>Reps</span><h1>8</h1></div>
            <div class="sets"><span>Sets</span><h1>4</h1></div>
            <h2>Workout</h2>
            <p>For a big chest, the best things you can do are heavy compound (multi-joint) movements. No matter if you're hitting a flat bench or an incline bench with dumbbells, you have to put extreme stress on the muscle fibers to make them grow.</p>
          </div>
        {{! <% end %> }}
      </div>
    </div>
  </div>
</div>

