<div class="row" id="exercises">
  <div class="large-16 columns">
    <div class="large-4 columns">
      <div class="exercise">
        <section class="top"></section>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="exercise">
        <section class="top"></section>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="exercise">
        <section class="top"></section>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="exercise">
        <section class="top"></section>
      </div>
    </div>
  </div>
</div>
