// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base";

// Home styles
div {
  //border: 1px solid #ccc;
}

#home {
  .exercise {
    min-height: 90px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;

    .cover-image {
      width: 100px;
      height: 100px;
      margin: 10px 15px 10px 10px;
      background: url('weight.png');
      float: left;
    }

    h2 {
      font-size: 28px;
      display: inline;
      font-family: 'proxima-nova', 'helvetica-neue';
      color: #363945;
    }

    p {
      font-size: 14px;
      display: block;
      font-size: 14px;
      padding-left: 127px;
      max-width: 78%;
      font-size: 14px;
      font-family: 'proxima-nova', 'helvetica-neue';
      color: #7C858E;
    }

    .sets, .reps {
      float: right;
      height: 90px;
      width: 75px;
      background: #edf1f2;
      margin: 3px;
      margin-top: 15px;
      margin-right: 10px;
      @include border-radius(3px);
      text-align: center;
      padding-top: 5px;

      h1 {
        color: #545862;
        margin-top: 0px;
        //font-size:
      }

      span {
        font-size: 13px;
        font-weight: 500;
        color: #37373A;
      }
    }

    @media only screen and (max-width: 620px) {
      text-align: center;

      .cover-image {
        margin: 0 auto;
        float: none;
      }

      p {
        width: 80%;
        margin: 0 auto;
        padding-left: 0px;
      }

      h2 {
        display: block;
      }

      .sets, .reps {
        width: 50px;
        height: 50px;
        float: none;
        margin: 0 auto;
        display: inline-block;

        h1 {
          font-size: 20px;
        }
      }
    }
  }

  .top {
    background: #FFF;

  	h1 {
      font-size: 30px;
      font-weight: bold;
      color: #545862;
      padding: 5px 20px;
      float: left;
      margin-top: 10px;
    }

    ul {
      list-style: none;
      float: right;

      li {
        float: left;

        a {
          text-transform: capitalize;
        }

        a.start {
          float: right;
          background: #28BFA4;
          color: #FFF;
          padding: 15px 60px;
          border-radius: 3px;
          border-bottom: 5px solid #1E8A76;
          margin-top: 13px;
          position: relative;

          &:active {
            border-bottom: 2px solid #1E8A76;
            top: 3px;
          }
        }

        a.add {
          float: right;
          background: #42444e;
          color: #FFF;
          padding: 15px 63px;
          border-radius: 3px;
          border-bottom: 5px solid #32333a;
          margin-top: 13px;
          margin-right: 10px;
          position: relative;

          &:active {
            border-bottom: 2px solid #32333a;
            top: 3px;
          }
        }

        a.day {
          float: right;
          background: #edf1f2;
          color: #4d5059;
          padding: 15px 63px;
          border-radius: 3px;
          border-bottom: 5px solid #e1e5e6;
          margin-top: 13px;
          margin-right: 10px;
          position: relative;

          &:active {
            border-bottom: 2px solid #e1e5e6;
            top: 3px;
          }
        }
      }
    }

    @media only screen and (max-width: 830px) {
      .menu {
        text-align: center;
      }

      h1 {
        float: none;
      }

      ul {
        text-align: center;
        display: inline-block;
        float: none;
      }

      li {
        float: none;
      }

      a {
        float: none;
      }
    }

    @media only screen and (max-width: 675px) {
      .menu {
        text-align: center;
      }

      h1 {
        float: none;
      }

      ul {
        text-align: center;
        display: inline-block;
        float: none;
      }

      li {
        float: none;
      }

      a {
        float: none;
      }
    }

    @media only screen and (max-width: 515px) {
      .menu {
        text-align: center;
      }

      ul {
        display: block;

        li {
          width: 100%;

          a.day, a.add {
            margin-right: 0px;
          }
        }
      }

      h1 {
        float: none;
        text-align: center;
      }

      a {
        float: none;
        display: block;
        width: 100%;
      }
    }
  }

  .side-nav {

    li:hover {
      //background: #F8FBFC;
      @include border-radius(5px);
    }

    a {
      color: #afb6bf;
      font-weight: bold;

      &:hover {
        color: #28bfa4;
      }
    }

    .active a {
      color: #545862;
    }

    a.editing {
      border: 1px solid #ccc;
      margin-left: 18px;
      border-radius: 3px;
    }

    i {
      height: 16px;
      width: 16px;
      background: url('flat-sprites.png');
      float: left;
      margin-top: 3px;
      margin-right: 5px;
    }

    .dashboard {
      i {
        background-position: 0px 0px;
      }
    }

    .activity {
      i {
        background-position: 34px -16px;
      }

      &:hover {
        i {
          background-position: 68px -16px;
        }
      }
    }

    .settings {
      i {
        background-position: 34px 54px;
      }

      &:hover {
        i {
          background-position: 68px 54px;
        }
      }
    }

    .routine {
      i {
        background-position: 34px 35px;
      }

      &:hover {
        i {
          background-position: 68px 35px;
        }
      }
    }

    .add-new {
      i {
        background-position: 34px 16px;
      }

      &:hover {
        i {
          background-position: 68px 16px;
        }
      }
    }

  }

}

#exercises {

  .columns {
    padding: 0px 8px;
  }

  .exercise {
    height: 250px;
    background: #fff;
    text-align: center;
    margin-bottom: 15px;
    //width: 33.3%;
    //border: 8px solid #EDF1F2;

    section.top {
      height: 3%; //70%;
      background: #73d2b9;
      //background: url('http://dribbble.s3.amazonaws.com/users/301148/screenshots/1071001/screen_shot_2013-05-15_at_9.21.34_am.png');
      background-size: 100%;
      //border-bottom: 1px solid #CCC;
    }

    h2 {
      font-family: 'proxima-nova', 'helvetica-neue';
      font-size: 18px;
      color: #363945;
      margin-top: 24px;
      font-weight: 500;
    }

    p {
      font-size: 14px;
      font-family: 'proxima-nova', 'helvetica-neue';
      color: #7C858E;
    }

    .top {
      height: 70%;
      background: #000;
    }
  }

  @media only screen and (max-width: 1000px) {
    .exercise {
      .small-5 {
        //width: 33.3%;
      }
    }
  }
}

#workouts {

  .workout {
    height: 175px;
    background: #fff;
    margin-bottom: 20px;
  }

}

#start-routine {

  .routine {
    height: 500px;
    background: #fff;
    text-align: center;

    .routine-img {
      height: 150px;
      width: 100px;
      background: url('http://dribbble.s3.amazonaws.com/users/255/screenshots/787169/yoda.gif');
      height: 275px;
      margin: 0 auto;
      background-position: -20px;
      background-repeat: no-repeat;
      width: 300px;
      background-size: 120%;
      background-position: -27px;
    }

    h1 {
      font-family: "proxima-nova";
      color: #333;
      margin-bottom: 0px;
    }

    a {
      color: #fff;
      padding: 15px 100px;
      margin-top: 30px;
      display: inline-block;
      background: #28bfa4;
      @include border-radius(3px);
    }
  }
  @media only screen and (max-width: 400px) {
    width: 100%;
    margin-top: -36px;
    .routine {
      height: 433px;
      width: 100%;
    }
  }
}



