// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base";

// Home styles
div {
  //border: 1px solid #ccc;
}

#home {
  .exercise {
    min-height: 90px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;

    .cover-image {
      width: 100px;
      height: 100px;
      margin: 10px 15px 10px 10px;
      background: url('weight.png');
      float: left;
    }

    h2 {
      font-size: 28px;
      display: inline;
    }

    p {
      font-size: 14px;
      width: 60%;
      display: block;
      font-size: 14px;
      float: left;
    }

    .sets, .reps {
      float: right;
      height: 90px;
      width: 75px;
      background: #edf1f2;
      margin: 3px;
      margin-top: 15px;
      margin-right: 10px;
      @include border-radius(3px);
      text-align: center;

      h1 {
        color: #545862;
        //font-size:
      }
    }
  }

  .top {
    background: #FFF;

  	h1 {
      font-size: 30px;
      font-weight: bold;
      color: #545862;
      padding: 5px 20px;
      float: left;
      margin-top: 10px;
    }

    .start {
      float: right;
      background: #28BFA4;
      color: #FFF;
      padding: 15px 60px;
      border-radius: 3px;
      border-bottom: 5px solid #1E8A76;
      margin-top: 13px;

      &:active {

      }
    }

    .add {
      float: right;
      background: #42444e;
      color: #FFF;
      padding: 15px 63px;
      border-radius: 3px;
      border-bottom: 5px solid #32333a;
      margin-top: 13px;
      margin-right: 10px;

      &:active {

      }
    }
    @media only screen and (max-width: 520px) {
      .menu {
        text-align: center;
      }

      h1 {
        float: none;
        text-align: center;
      }

      .start {
        display: block;
        clear: left;
        float: none;
        margin-top: 5px;
      }

      .add {
        display: block;
        margin-top: 5px;
        margin-right: 0px;
        margin-bottom: 10px;
        float: none;
        clear: left;
      }
    }
  }

  .side-nav {
    a {
      color: #afb6bf;
      font-weight: bold;

      &:hover {
        color: #28bfa4;
      }
    }

    .active a {
      color: #545862;
    }

    i {
      height: 16px;
      width: 16px;
      background: url('flat-sprites.png');
      float: left;
      margin-top: 3px;
      margin-right: 5px;
    }

    .dashboard {
      i {
        background-position: 0px 0px;
      }
    }

    .activity {
      i {
        background-position: 34px -16px;
      }

      &:hover {
        i {
          background-position: 68px -16px;
        }
      }
    }

    .settings {
      i {
        background-position: 34px 54px;
      }

      &:hover {
        i {
          background-position: 68px 54px;
        }
      }
    }

    .routine {
      i {
        background-position: 34px 35px;
      }

      &:hover {
        i {
          background-position: 68px 35px;
        }
      }
    }

    .add-new {
      i {
        background-position: 34px 16px;
      }

      &:hover {
        i {
          background-position: 68px 16px;
        }
      }
    }

  }

}



